/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;

font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
*/

/*Para resetar as margens da página*/ 
*{
    margin: 0px;
    padding: 0px;

/************Header*/

}
header{
    background-color:#156669;
    display: flex;
    padding: 4px;
    margin-bottom: 0px;
    justify-content: space-around;
}

a{
    color: white;
    text-decoration: none;
}

#homeHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: auto;
}

.itensHeader:hover{
    transform:scale(1.2);
    background-color: #53c89b;
    cursor: pointer;
}

#imgLogado{
    width: 55px;
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: aquamarine;
    align-self: center;
}

ul{
    display: flex;
    align-items: center;
    height: 100%;

}
nav ul li{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    list-style: none;
    background-color: #11263d;
    border-radius: 15px;
    margin: 16px;
    padding: 10px 15px 15px 15px;
    width: 125px;
    height: 15px;
    text-align:center;
    transition: .4s;


}
#logo{
    width: 90px;
    height: 70px;
    margin-left: -50px;
}
#logoName{
    display: flex;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 100%;
    font-size: 19px;
    font-style: normal;
    align-self: center;
}

.cabPrincipal{
    background-color: #156669;
}

/*************MAIN */

#secao1Consulta{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: auto;
    min-width: 300px;
    height: 400px;
    margin: 0 auto;
    background-image: url(/_Imagens/_Section1Home/Home.png);
    background-size: cover;
}

#secao1Conteudo{
    position: absolute;
    color: white;
    width: 100%;
    max-width: 1700px;
    min-width: 300px;
    margin: 0 0 180px 0;
    font-size: 30px;
    margin-left: 350px;
}

#principal1Conultar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    width: auto;
    height: 650px;
    background-color: #11263d;
    padding-top: 20px;
    }            

#filtroMain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    min-width: 250px;
    height: 80px;
    background-color: #53c89b;
    border-radius: 25px; 
}

#resultadoBuscaMain{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    width: 100%;
    max-width: 1000px;
    min-width: 250px;
    height: 500px;
    background-color: ##11263d;
    border-radius: 25px; 
    gap: 60px;
    overflow-y: auto;
}

h5{
    font-size: 20px;
}
/* Customizando a scrollbar para navegadores WebKit */
#resultadoBuscaMain::-webkit-scrollbar 
{
    width: 10px; /* Largura da scrollbar */
    height: 25%; /* Altura da scrollbar (para scroll horizontal) */
    border-radius: 25px;
}
.filtros::-webkit-scrollbar 
{
    width: 10px;
    border-radius: 25px;                
}


#resultadoBuscaMain::-webkit-scrollbar-track 
{
    background:#53c89b;/* Cor do track da scrollbar */
    border-radius: 15px;
}
.filtros::-webkit-scrollbar-track
{
    border-radius: 15px;
}

#resultadoBuscaMain::-webkit-scrollbar-thumb:hover
{
    background: #11263d;
    border-radius: 15px;
    border: 1px solid white;
}
.filtros::-webkit-scrollbar-thumb:hover
{
    background:#11263d;
    border-radius: 15px;
    border: 1px solid white;
}
/***********************************/

.imgFiltro{
    justify-items: center;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    
}

.filtros{
    border: none;
    border-radius: 15px;
    height: 40px;
    justify-items: center;
}

.resBuscaContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: inherit;
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    height: 300px;
    background-color:#53c89b;
    border-radius: 25px;              
}

.imagemMedico{
    display: flex;
    width:  140px;
    height: 100px;
}

.padraoResEspaco{
    margin-left: 15px;
}

.infoEspaco{
    width: 100%;
    max-width: 90%;
    min-width: 250px;
}

#btnConsulta{
    background-color: #11263d;
    border-radius: 25px;
    padding: 4px;
    text-align: end;
    color: white;
    
}

/*******Footer           */

footer{
    display: flex;
    justify-content: space-between;
    background-color: #156669;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.fotoFooter{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;
    width: 100px;
    margin: 0;
}

.logoFooter{
    height: 100%;
    display: flex;
    padding-left: 1500px;

}

.textFooter{
    color: white;
    margin: 15px;
    display: flex;
    flex-direction: column; 
}

.socialFooter{
    color: white;
    margin-right: 5px;
    display: flex;
    flex-direction: column;

}

.politicaFooter{
    color: white;
    margin: 15px;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

